{% extends "layout.html" %}
{% block title %}Digital Tip Jar{% endblock %}
{% block body %}

    <h2>{{artist.artist_name}}</h2>

    <h3>Total Tips</h3>
    <h5>${{ total_tips }}</h5>
    
    {% if artist.pic_url %}
    <h3>Profile Picture</h3>
    <img src="{{artist.pic_url}}"/>
    {% endif %}

    <h3>QR Code</h3>
    <a href="/{{ artist.user_name}}/qrcode">
        <img src="{{artist.qr_path}}">
    </a>


    {% if tips|count > 0 %}
        <h3>Recent Tips</h3>
        <ul class="unstyled">
            {% for tip in tips %}
                <li>
                    <h5>{{ tip.full_name }}</h5>
                    <p>
                        {{ tip.message }}
                    </p>
                    <em class="time" data-time="{{ tip.timestamp.strftime("%Y-%m-%dT%H:%M:%SZ") }}"></em>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
{% block js %}
    <script src="{{config.STATIC_URL}}js/moment.min.js"></script>
    <script>

        $(".time").each(function(){
            $(this).text(moment.utc($(this).attr('data-time')).fromNow());
        });


        $(".predefined-amount").click(function(){
            $("#amount").val($(this).attr('data-value'))
        });
    </script>
{% endblock %}
