{% extends "layout.html" %}
{% block title %}Digital Tip Jar{% endblock %}
{% block body %}

    <h2 id="artist_name">{{artist.artist_name}}</h2>

      {% include 'paypal.html' %}

    {% if tips|count > 0 %}
        <h3>Recent Tips</h3>
        <ul class="unstyled">
            {% for tip in tips %}
                <li>
                    <h5>{{ tip.full_name }}</h5>
                    <p>
                        {{ tip.message }}
                    </p>
                    <em class="time" data-time="{{ tip.timestamp.strftime("%Y-%m-%dT%H:%M:%SZ") }}"></em>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
{% block js %}
    <script src="{{config.STATIC_URL}}js/moment.min.js"></script>
    <script>
        function save_tip(){
            $.ajax({
                async: false,
                type: "POST",
                url: '/savetip',
                data: {
                    "user_name": '{{artist.user_name}}',
                    "amount": $("#amount").val(),
                    "message": $("#message").val(),
                    "email":$("#email").val(),
                    "name": $("#name").val()
                }
            });
        }

        function init(){
            $('html,body').animate({scrollTop:150+'px'}, 500);

            $(".predefined-amount").click(function(){
                $("#amount").val($(this).attr('data-value'));

                $("#cbHDN").val( location.href + "?tipamnt=" + $(this).attr('data-value') );
            });

            $("#name").focus(function(){
                $(".optional").fadeIn(750);
            });

            $(".time").each(function(){
                $(this).text(moment.utc($(this).attr('data-time')).fromNow());
            });
        }

        $(document).ready(init);
    </script>
{% endblock %}
