{% extends "layout.html" %}
{% block title %}Digital Tip Jar{% endblock %}
{% block body %}

    <h2>{{artist.artist_name}}</h2>

      {% include 'paypal.html' %}


    <h3>QR Code</h3>
    <img src="{{artist.qr_path}}">


{% endblock %}
{% block js %}
    <script>
        $(".predefined-amount").click(function(){
          $("#amount").val($(this).attr('data-value'))
        });

        function save_tip(){
            $.ajax({
                async: false,
                type: "POST",
                url: '/savetip',
                data: {
                    "user_name": '{{artist.user_name}}',
                    "amount": $("#amount").val(),
                    "message": $("#message").val(),
                    "email":$("#email").val(),
                    "name": $("#name").val()
                },
                success: function() {

                }
            });
        }
    </script>
{% endblock %}
