{% extends "layout.html" %}
{% block title %}Digital Tip Jar{% endblock %}
{% block body %}
    <form method="POST" class="form-horizontal" onsubmit="return checkPassword()">
        {% if not user %}
        <div class="control-group">
            <label class="control-label" for="band_name">Artist/Band Name</label>
            <div class="controls">
                <input type="text" id="band_name" placeholder="Artist/Band Name" name="band_name">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="band_name">Username</label>
            <div class="controls">
                <input type="text" id="user_name" placeholder="Username" name="user_name">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" placeholder="Email" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirm_password">Confirm Password</label>
            <div class="controls">
                <input type="password" id="confirm_password" placeholder="Confirm Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    {% else %}
        <div class="control-group">
            <label class="control-label" for="band_name">Artist/Band Name</label>
            <div class="controls">
                <input type="text" id="band_name" placeholder="Artist/Band Name" name="band_name" value="{{ user.band_name }}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" placeholder="Email" value="{{ user.email }}" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirm_password">Confirm Password</label>
            <div class="controls">
                <input type="password" id="confirm_password" placeholder="Confirm Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    {% endif %}
    </form>
{% endblock %}
{% block js %}
<script>
    function checkPassword(){
        var password = $("#password").val();
        var confirmPassword = $("#confirm_password").val();

        if(password == confirmPassword)
            return true;

        $("#alerts").append('<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>' + 'Password does not match' + '</div>');
        return false;
    }
</script>
{% endblock %}
